LICENSE export-ignore
Logo export-ignore
PCB export-ignore
README.md export-ignore
Photos export-ignore
presentation export-ignore
conception export-ignore
'boitier 3D' export-ignore
'test matériel' export-ignore
Binaire export-ignore
Sources export-ignore
